<ion-header>
  <ion-toolbar>
    <ion-title>
      ParTrials
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="characters chosen-characters">
      <ion-col class="character-container" size="4" *ngFor="let char of chosenCharacters">
        <ion-img class="character" 
                 [src]="'assets/sprite/char-' + char.name.toLowerCase() + '-s.png'" 
                 (click)="choose(char.name)"></ion-img>
        <div class="character-class ion-margin-top" *ngIf="classParser.getFullCharacterClass(char.name, char.chosenClass, class4Upgrade) as charClass">
          {{ charClass.className }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical" [class.ion-hide]="!isChoosingCharacters">
      <ion-col size="12" class="foreward ion-text-center">
        Choose 3 characters from the list below
      </ion-col>
    </ion-row>

    <ion-row class="characters all-characters" [class.ion-hide]="!isChoosingCharacters">
      <ion-col class="character-container" size="4" *ngFor="let char of ['Angela', 'Charlotte', 'Riesz', 'Duran', 'Hawkeye', 'Kevin']">
        <ion-img class="character" 
                 [src]="'assets/sprite/char-' + char.toLowerCase() + '-s.png'" 
                 (click)="choose(char)" 
                 [class.chosen]="isChosen(char)"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="skills" *ngIf="!isChoosingCharacters">
      <ion-col class="character-container" size-xs="12" size-md="4" *ngFor="let char of chosenCharacters">
        <ion-card *ngIf="classParser.getFullCharacterClass(char.name, char.chosenClass, class4Upgrade) as charClass">
          <ion-card-header>
            <ion-card-title>{{ char.name }} Chain Abilities</ion-card-title>
            <ion-card-subtitle>{{ charClass.className }} - {{ charClass.abilities.length }} abilities</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngIf="charClass.abilities.length === 0">No abilities.</ion-item>

              <ion-item *ngFor="let ability of sortAbilityLikes(charClass.abilities)" 
                        class="ability-row"
                        [color]="highlightDupes && isDupe(ability.name) ? 'warning' : ''"
                        [class.compressed]="compressedView">

                <div slot="start" class="stat-explainer" *ngIf="!compressedView">
                  <img class="stat-img" [src]="'assets/sprite/stat-' + ability.statName + '.png'" />
                  <span class="stat-value">{{ ability.statReqValue }} {{ ability.statName | uppercase }}</span>
                </div>

                <ion-label class="ion-text-wrap">
                  <h2>
                    {{ ability.name }} 
                    <ion-icon name="link-outline" *ngIf="ability.shared"></ion-icon>
                  </h2>
                  <p *ngIf="!compressedDescriptions"><small>{{ ability.desc }}</small></p>
                </ion-label>

              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="spells" *ngIf="!isChoosingCharacters">
      <ion-col class="character-container" size-xs="12" size-sm="12" size-md="4" *ngFor="let char of chosenCharacters">
        <ion-card *ngIf="classParser.getFullCharacterClass(char.name, char.chosenClass, class4Upgrade) as charClass">
          <ion-card-header>
            <ion-card-title>{{ char.name }} Spells</ion-card-title>
            <ion-card-subtitle>{{ charClass.className }} - {{ charClass.spells.length }} spells</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngIf="charClass.spells.length === 0">No spells.</ion-item>

              <ion-item *ngFor="let ability of sortAbilityLikes(charClass.spells, false)" 
                        class="ability-row" 
                        [color]="highlightDupes && isDupe(ability.name) ? 'warning' : ''"
                        [class.ion-hide]="compressedRedundantSkills && unplussedSkillNames[charClass.className][ability.name]"
                        [class.compressed]="compressedView">

                <div slot="start" class="stat-explainer" *ngIf="!compressedView">
                  <img class="stat-img" [src]="'assets/sprite/stat-' + ability.statName + '.png'" />
                  <span class="stat-value">{{ ability.statReqValue }} {{ ability.statName | uppercase }}</span>
                </div>

                <ion-label class="ion-text-wrap">
                  <h2>
                    {{ ability.name }} 
                  </h2>
                  <p *ngIf="!compressedDescriptions"><small>{{ ability.desc }}</small></p>
                </ion-label>

              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
