

.foreward {
  font-size: 2rem;
  opacity: 0.7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characters {

  &.chosen-characters {
    min-height: 200px;

    .character-container {
      display: flex;
      flex-direction: column;
    }
  }

  &.chosen-characters, &.all-characters {
    flex-wrap: wrap;
    
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      margin-left: 10%;
      margin-right: 10%;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      margin-left: 20%;
      margin-right: 20%;
    }
    
    @media only screen and (min-width: 992px) {
      margin-left: 30%;
      margin-right: 30%;
    }
  }

  .character-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .character {
    max-width: 150px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 10px #8827cd;
    }

    &.chosen {
      opacity: 0.4;
    }
  }
}

.ability-row {
  max-height: 120px;
  min-height: 120px;
  --min-height: 120px;
}

.stat-explainer {
  position: relative;

  .stat-img {
    max-width: 48px;
    max-height: 48px;
  }

  .stat-value {
    position: absolute;
    right: 0;
    bottom: -15px;

    font-size: 0.7rem;
  }
}